# --- SEGURIDAD ---
# Ignorar el archivo de variables de entorno local

# --- DEPENDENCIAS ---
# No subimos las librerías, pesan mucho
node_modules/
Servidor/node_modules/

# --- COMPILACIÓN ---
# IMPORTANTE: NO ponemos "build/" aquí. 
# Queremos que la carpeta de producción SÍ se suba a GitHub 
# para que Hostinger la pueda leer.

# --- ARCHIVOS DEL SISTEMA ---
.DS_Store
Thumbs.db
*.log