.contenedorPadreDeContador{
    display: flex;
    height: 15vh;
}
.containerPadreContadorTiempo{
    margin: auto;
    font-size: var(---tamaño-de-texto-extra-grande);
    font-family: var(---estilo-de-fuente);
    color: var(---color-base-4);
}